*
!.gitignore
!README.md
!requirements.txt

!main.py

!models
!models/__init__.py
!models/recipe.py

!scraper
!scraper/__init__.py
!scraper/food_scraper.py

!db
!db/__init__.py
!db/file_handler.py
!db/db_handler.py


